streamlit
requests
pandas
streamlit_card
opencv-python==4.9.0.80
numpy==1.26.4
cloudscraper
pillow
python-dotenv
plotly
pdf2image==1.16.3
poppler-utils
azure-ai-documentintelligence==1.0.0
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
asyncpg